@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
 }

.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0062be;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.navbar .logo{
    position:relative;
    display: flex;
    width: 9%;
    cursor: pointer;
}

.navbar ul{
    position: relative;
    display: flex;
    top: 8px;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    position: relative;
    margin: 0 30px;
}

.navbar ul li:after {
    content: '';
    height: 5px;
    width: 0%;
    align-content: center;
    background: orange;
    position: absolute;
    left: 0;
    top: 20px;
    transition: 1s;
} 

.navbar ul li:hover::after {
    width: 100%;
  
}

.navbar ul li a{
    display: inline-block;
    color: #fff;
    font-weight: 400;
    margin: 0 5px;
    text-decoration: none;
}

.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.content .textBox {
  position: relative;
  max-width: 600px;
}

.content .textBox h2 {
    font-size: 65px;
    color: #fff;
    line-height: 1.5em;
    font-weight: 900;
    text-transform: uppercase;
    
}

.content .textBox h2 span{
    font-size: 2em;
}

.content .textBox p{
    color: #fff;
    width: 80%;
    font-size: 20px;
}

button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 10px;
    background: #fff;
    border: solid #fff;
    color: #111;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-family: 'Poppins';
    transition: 0.8;
}

button:hover {
    border: solid orange;
    background: orange;
    transition: 0.8s;
    color: white;
} 

.Showcase {
    display: flex;
    height: 55vh;
    
    
    animation: move 1.8s linear infinite alternate-reverse;
}

@keyframes move {
    100%{
        opacity: 0.8;
        transform: rotate(4deg);
    }
}

.thumb{
    position: absolute;
    display: flex;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
}

.thumb li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  transition: .5s;
}

.thumb li:hover {
  transform: translateY(-15px);
}

.thumb li img {
  max-width: 80px;
}

.social-tags{
    position: absolute;
    top: 40%;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    flex-direction: column;
}

.social-tags li {
    list-style: none;
}

.social-tags li a{
    display: inline-block;
    margin: 5px 0;
}

.

